.users-box {
    display: flex;
    flex-wrap: wrap; /* Для перенесения на следующую строку при необходимости */
    width: 50%; /* Ширина контейнера (можно изменить) */
    margin: 0 auto; /* Центрирование контейнера */
}

/*.address-block {*/
/*    width: 50%; !* Ширина блока (можно изменить) *!*/
/*    height: 100px;*/
/*    background-color: #f0f0f0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
